absl-py
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
certifi     
cffi
charset-normalizer
click
colorama
comm 
debugpy
decorator
defusedxml
Django
dm-tree
executing
fastjsonschema
Flask
Flask-Mail
Flask-SQLAlchemy
fqdn
greenlet
h11
h5py
httpcore
httpx
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
ml-dtypes
mysql-connector-python
namex
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
opencv-contrib-python
opencv-python
overrides
packaging
pandas
pandocfilters
parso
pillow
pip
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
Send2Trash
setuptools
six
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
terminado
tinycss2
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
tensorflow
pickle
imutils